/** Sonic CSS **/

/** Try to center game on page **/
#gameContainer{
    height: 100%;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlayContent {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closeButton {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.scoreBar, #ring, #top {
    display: flex;
    flex-direction: row;
    position: relative;
    max-width: 510px;
    max-height: 50px;
    background-color: #f5e360;
    overflow: hidden;
    border-style: solid;
    border-width: 5px;
    border-color: #f5e360;
}

#top{
    position:absolute;
    right: 0;
}

#ring{
    position: absolute;
    margin-bottom: 0;
    padding-bottom: 0;
}

.scoreBar{
    margin: auto;
}

#ringScoreImage, #topScoreImage{
    max-width: 50px;
}

#logo{
    margin: auto;
}

#ringScoreImage{
    max-height: 44px;
}

#purpleWorldRing, #redWorldRing, #greenWorldRing, 
#yellowWorldRing, #aquaWorldRing{
    max-height: 44px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 5px;
}

#blueWorldRing{
    max-height: 44px;
    margin-left: 29px;
    margin-right: 12px;
    margin-bottom: 5px;
}

#whiteWorldRing{
    max-height: 44px;
    margin-right: 29px;
    margin-left: 12px;
    margin-bottom: 5px;
}

#sonicLogoImage{
    max-height: 45px;
}

#ringScore, #topScore{
    font-size: 1.5em;
    margin: auto;
    padding: 3px;
}

#topScore{
    padding-right: 10px;
}

#ringScore{
    padding-left: 10px;
}

#gridContainer {
    margin: auto;
    max-width: 510px;
    max-height: 100%;
    background-color: #f5e360;
    overflow: auto;
    border-style: solid;
    border-width: 5px;
    border-color: #f5e360;
}
  
.gridBox {
    float: left;
    display: block;
    background-color: #f7f7f5;
    width: 0.001px;
    height: 0.001px;
    border-radius: 5px;
    padding: 16px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

#sonicAvatar, #ringAvatar{
    max-height: 34px;
    position: absolute;
    bottom: -1px;
    right: -4.5px; 
    overflow: hidden; 
}

#ringAvatar{
    max-height: 30px;
    position: absolute;
    bottom: 0.1px;
    right: 0.1px;
}


/** media queries **/
/** Find previous examples of media queries for this or research specific sizes**/

/** Glow effect on rings
-moz-box-shadow: 0 0 5px #fff;
-webkit-box-shadow: 0 0 5px #fff;
box-shadow: 0px 0px 5px #fff;
**/

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}