/** Sonic CSS **/

/** Try to center game on page **/

body{
    margin: 3px;
}

.scoreBar, #ring, #top {
    display: flex;
    flex-direction: row;
    position: relative;
    max-width: 510px;
    max-height: 50px;
    background-color: #f5e360;
    overflow: hidden;
    border-style: solid;
    border-width: 5px;
    border-color: #f5e360;
}

#top{
    position:absolute;
    right: 0;
}

#ring{
    position: absolute;
    margin-bottom: 0;
    padding-bottom: 0;
}

.scoreBar{
    margin: auto;
}

#ringScoreImage, #topScoreImage{
    max-width: 50px;
}

#logo{
    margin: auto;
}

#ringScoreImage{
    max-height: 44px;
}

#purpleWorldRing, #redWorldRing, #greenWorldRing, 
#yellowWorldRing, #aquaWorldRing{
    max-height: 44px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 5px;
}

#blueWorldRing{
    max-height: 44px;
    margin-left: 29px;
    margin-right: 12px;
    margin-bottom: 5px;
}

#whiteWorldRing{
    max-height: 44px;
    margin-right: 29px;
    margin-left: 12px;
    margin-bottom: 5px;
}

#sonicLogoImage{
    max-height: 45px;
}

#ringScore, #topScore{
    font-size: 1.5em;
    margin: auto;
    padding: 3px;
}

#topScore{
    padding-right: 10px;
}

#ringScore{
    padding-left: 10px;
}

#gridContainer {
    margin: auto;
    max-width: 510px;
    max-height: 100%;
    background-color: #f5e360;
    overflow: auto;
    border-style: solid;
    border-width: 5px;
    border-color: #f5e360;
}
  
.gridBox {
    float: left;
    display: block;
    background-color: #f7f7f5;
    width: 0.001px;
    height: 0.001px;
    border-radius: 5px;
    padding: 16px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

#sonicAvatar, #ringAvatar{
    max-height: 34px;
    position: absolute;
    bottom: -1px;
    right: -4.5px;
    
}

#ringAvatar{
    max-height: 30px;
    position: absolute;
    bottom: 0.1px;
    right: 0.1px;
}


/** media queries **/
/** Find previous examples of media queries for this **/

/** Glow effect on rings
-moz-box-shadow: 0 0 5px #fff;
-webkit-box-shadow: 0 0 5px #fff;
box-shadow: 0px 0px 5px #fff;
**/